
/* extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
	
	header {
		/*height:325px;*/
		padding-top:300px;
		padding-left:2em;
	}

	header h1 {
		font-size:2.5em;
	}

	body {
		grid-row-gap:3em;
		/*background-color:purple;*/
	}

	article {
		grid-column:span 12;
	}

	section {
		grid-column:span 12;
		padding-left:2em;
	}

	section.img-vert {
		grid-column:span 12;
	}

	section.img-horiz {
		grid-column:span 12;
	}

	p.col-3 {
		grid-column:span 6;
		margin-left:0;
		padding-left:2em;
	}

	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		background-position:250% 200%;
		background-size:80%;
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */

}

/* small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
	
	header h1 {
		font-size:3em;
	}

	body {
		background-color:blue;
	}

	article {
		grid-column: span 12;
	}

	section {
		grid-column:span 9;
	}

	section.img-vert {
		grid-column:span 12;
	}

	section.img-horiz {
		grid-column:span 12;
	}

	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		/*background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
		background-position:center -40%;
		background-size:50%;
		background-repeat:no-repeat;*/
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */
}


/* medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width:768px) {

	header h1 {
		font-size:3em;
	}

	body {
		background-color:yellow;
	}

	article {
		grid-column: span 6;
	}

	section {
		grid-column:span 9;
	}

	section.img-vert {
		grid-column:span 12;
	}

	section.img-horiz {
		grid-column:span 12;
	}

	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		/*background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
		background-position:center -40%;
		background-size:50%;
		background-repeat:no-repeat;*/
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */

}


/* large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 1024px) {

	header {
		/*height:350px;*/
	}

	header h1 {
		font-size:3em;
	}
	
	body {
		background-color:pink;
	}

	article {
		grid-column: span 6;
	}

	section {
		grid-column:span 6;
	}

	section.img-vert {
		grid-column:span 6;
	}

	section.img-horiz {
		grid-column:span 12;
	}

	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		/*background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
		background-position:center -40%;
		background-size:50%;
		background-repeat:no-repeat;*/
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */

}

/* extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1440px) {

	header h1 {
		font-size:3.5em;
		/*text-align:center;*/
	}

	body {
		/*background-color:red;*/
	}

	article {
		grid-column: span 4;
	}

	section.filter {
		/*text-align:center;*/
		/*padding-left:0;*/
	}

	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		/*background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
		background-position:center -40%;
		background-size:50%;
		background-repeat:no-repeat;*/
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */

}

@media only screen and (min-width: 1600px) {

	header {
		/*height:375px;*/
	}

	header h1 {
		font-size:4em;
		/*text-align:center;*/
	}

	body {}

	article {
		grid-column: span 4;
	}


	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		/*background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
		background-position:center -40%;
		background-size:50%;
		background-repeat:no-repeat;*/
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */

}


/* xxl devices (monitors and tvs) */

@media only screen and (min-width: 2160px) {

	header {
		/*height:300px;*/
	}

	body {
		/*background-color:pink;*/
	}

	/* BY PROJECT*/


	/* crunchyroll*/

	.cr-hero {
		/*background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
		background-position:center -40%;
		background-size:50%;
		background-repeat:no-repeat;*/
	}

	/* inside-scene */

	/* ¢hange */

	/* aria */

	/* me2math */

	/* pokedex */


}


