/* GENERAL*/

body {
	grid-row-gap:12vh;
}

header {
	padding-top:300px;
	height:600px;
}

header h1 {
	font-family:'museo-sans-display',sans-serif;
	font-weight:800;
}

header h2 {
	font-weight:400;
}

section {
	width:100%;
	grid-column:span 6;
	/*background-color:yellow;*/
	padding-left:4em;
	padding-right:6em;
}

section.img-vert {
	width:100%;
	grid-column:span 6;
	background-color:var(--proj-orange);
	padding-right:1em;
}

section.img-vert img {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:2em;
}

section.img-horiz {
	width:100%;
	grid-column:span 12;
	background-color:var(--proj-orange);
	/*padding-right:1em;*/
}

section.img-horiz img {
	width:100%;
	margin-left:12%;

	padding:2em;
}

h4 {
	font-variant:small-caps;
	font-size:1.25em;
	letter-spacing:1.33px;
	/*display:inline;*/
	margin-bottom:.5em;
}

h3 {
	font-family:'museo-sans', sans-serif;
	font-weight:700;
	font-size: 1.75em;
}

/*hr {
	width:300px;
	border: 1px solid var(--main-off-black);
	display:inline-block;
	opacity:1;
	margin-bottom:.2em;
	opacity:.25;
}*/

.sm-caps {
	font-variant:small-caps;
	font-size:.8em;
	letter-spacing:1px;
	font-weight:700;
}

p.col-3 {
	margin-left:3.25em;
}


/* BY PROJECT*/


/* crunchyroll*/

.cr-hero {
	background-image:url(images/crunchyroll/cr-hf-homepage-closed.png);
	background-position:right -80%;
	background-size:50%;
	background-repeat:no-repeat;
}

/* inside-scene */

/* ¢hange */

/* aria */

/* me2math */

/* pokedex */