footer {
	width:100%;
	grid-column:span 12;
}


body {
	grid-row-gap:12vh;
	background-color:var(--main-off-white);
}


header {
	height:600px;
}

header img {
	/*width:100%;*/
}


section {
	width:100%;
	grid-column:span 6;
	/*background-color:yellow;*/
	padding-left:4em;
	padding-right:2em;
	margin-bottom:4vh;
}

section.img-vert {
	width:100%;
	grid-column:span 6;
	/*background-color:var(--proj-orange);*/
	/*background-color:var(--main-off-white);*/
	padding-right:1em;
}

section.img-vert img {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:2em;
}

section.img-horiz {
	width:100%;
	grid-column:span 12;
	/*background-color:var(--proj-orange);*/
	/*padding-right:1em;*/
}

section.img-horiz img {
	width:100%;
	margin-left:12%;
	padding:2em;
}

h1 {
	font-family:'museo-sans-display',sans-serif;
	font-weight:800;
}

h2 {
	font-weight:400;
}


h4 {
	font-variant:small-caps;
	font-size:1.25em;
	letter-spacing:1.33px;
	/*display:inline;*/
	margin-bottom:.5em;
}

h3 {
	font-family:'museo-sans', sans-serif;
	font-weight:700;
	font-size: 1.75em;
}

/*hr {
	width:300px;
	border: 1px solid var(--main-off-black);
	display:inline-block;
	opacity:1;
	margin-bottom:.2em;
	opacity:.25;
}*/

.sm-caps {
	font-variant:small-caps;
	font-size:.9em;
	letter-spacing:1px;
	font-weight:700;
}

/* Horizontal scrolling techniques */
/* https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */

.scrolling-wrapper {
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
	-webkit-overflow-scrolling:touch;
}

.scrolling-wrapper img {
	display:inline-block;
	width:100%;
	margin-right:1em;
}

.col-12 img {
	width:100%;
}

.role,
.duration,
.team,
.tools,
.links {
	margin-top:0;
}

.cr-hero-img,
.inside-hero-img,
.¢hange-hero-img,
.aria-hero-img,
.me2math-hero-img,
.pokedex-hero-img {
	object-fit:contain;
	width:25%;
	height:25%;
	position:absolute;
	top:0;
	left:0;
	margin-top:6em;
}



/* BY PROJECT*/


/* CRUNCHYROLL*/

.cr-hero {
	background-color:var(--proj-orange);
	text-align:center;
	height:400px;
	z-index:-1;
}

.cr-headline {
	padding-left:2em;
}


/* INSIDE-SCENE */

.inside-scene-hero {
	background-color:var(--proj-pearl);
	text-align:center;
	height:400px;
}

/* ¢HANGE */

.¢hange-hero {
	background-color:var(--proj-green);
	text-align:center;
	height:400px;
}

/* ARIA */

.aria-hero {
	background-color:var(--main-black);
	text-align:center;
	height:400px;
}

/* ME2MATH */

.me2math-hero {
	background-color:var(--proj-pinki);
	text-align:center;
	height:400px;
}

/* POKEDEX */

.pokedex-hero {
	background-color:var(--proj-yellow);
	text-align:center;
	height:400px;
}





