/* COLOR */

:root {
	--main-blue:rgb(8,137,228);
	/*--main-blue:rgb(8,137,228);*/
	/*--main-blue:#0889E4;*/
	--main-light-blue:rgb(193,225,248);
	/*--main-light-blue:#C1E1F8;*/
	--main-off-white:rgb(250,250,250);
	/*--main-off-white:#FAFAFA;*/
	--main-off-black:rgb(17,17,17);
	/*--main-off-black:#333333;*/
	--main-white:rgb(255,255,255);
	/*--main-white:#FFFFFF;*/
	--main-black:rgb(0,0,0);
	/*--main-black:#000000;*/

	--proj-orange:#FF9D00;
	--proj-pearl:#E6E2c9;
	--proj-green:#A8FBD7;
	--proj-pink:#E5A186;
	--proj-yellow:#F1C40F;

}

/* ADD-ONS*/

.bg-blue {
	background-color:var(--main-blue);
}
.bg-light-blue {
	background-color:var(--main-light-blue);
}
.bg-off-white {
	background-color:var(--main-off-white);
}
.bg-off-black {
	background-color:var(--main-off-black);
}
.bg-white {
	background-color:var(--main-white);
}
.bg-black {
	background-color:var(--main-black);
}
.bg-orange {
	background-color:var(--proj-orange);
}
.bg-pearl {
	background-color:var(--proj-pearl);
}
.bg-green {
	background-color:var(--proj-green);
}
.bg-pink {
	background-color:var(--proj-pink);
}
.bg-yellow {
	background-color:var(--proj-yellow);
}



.txt-blue {
	color:var(--main-blue);
}
.txt-light-blue {
	color:var(--main-light-blue);
} 
.txt-off-white {
	color:var(--main-off-white);
}
.txt-off-black {
	color:var(--main-off-black);
}
.txt-white {
	color:var(--main-white);
}
.txt-black {
	color:var(--main-black);
}




/* TYPOGRAPHY */

@import url("https://use.typekit.net/gvy4ews.css");

/*Mr Eaves Mod OT Book*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/*Mr Eaves Mod OT Book Italic*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/*Mr Eaves Mod OT Reg*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/*Mr Eaves Mod OT Bold Italic*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/*Mr Eaves Mod OT Light*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

/*Mr Eaves Mod OT Light Italic*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

/*Mr Eaves Mod OT Bold*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/*Mr Eaves Mod OT Reg Italic*/

@font-face {
	font-family: 'mr-eaves-modern', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}


/*Museo-sans 300*/

@font-face {
	font-family: 'museo-sans', serif;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/*Museo-sans 500*/

@font-face {
	font-family: 'museo-sans', serif;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/*Museo-sans 700*/

@font-face {
	font-family: 'museo-sans', serif;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


/*Museo-sans 900*/

@font-face {
	font-family:'museo-sans',serif;
	font-weight:800;
	font-style:normal;
	font-display:swap;
}

/*Museo Sans Display Light*/

@font-face {
	font-family: museo-sans-display, sans-serif;
	font-weight: 400;
	font-style: normal;
}


/*Museo Sans Display Black*/

@font-face{
	font-family: museo-sans-display, sans-serif;
	font-weight: 800;
	font-style: normal;
}


h1,
h2 {
	font-family:'museo-sans',serif;
	padding:0;
	margin:0;
}

h3, 
h4,
h5,
h6 {
	padding:0;
	margin:0;
}

h1 {
	font-size:3em;
	letter-spacing:auto;
}

p {
	font-family:'mr-eaves-modern', sans-serif;
	display:inline-block;
	font-size:1.2em;
	font-weight:300;
	margin-top:0;
	margin-bottom:2em;
	padding-right:3em;
}

p.lead {
	font-family:'mr-eaves-modern', sans-serif;
	font-size:1.5em;
	font-weight:400;
	margin-top:.5em;
	margin-bottom:1em;
	padding-right:1em;
	/*margin-bottom:2em;*/
}


.fw-100 { font-weight:100; }
.fw-300 { font-weight:300; }
.fw-500 { font-weight:500; }
.fw-700 { font-weight:700; }
.fw-900 { font-weight:900; }


/* STRUCTURE */


* {
	box-sizing:border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin:0;
	font-family:'mr-eaves-modern',sans-serif;
	cursor:default;
	display:inline-grid;
	grid-template-columns:repeat(12,1fr);
	grid-row-gap:1em;
	grid-column-gap:1em;
	justify-content:center;
	color:var(--main-off-black);
	line-height:1.3;
}


nav {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:92px;
	background-color:rgba(255,255,255,1);
	/*background-color:var(--main-blue);*/
	color:var(--main-blue);
	display:inline-block;
	text-align:right;
	z-index:1000;
	/*border-bottom:2px solid var(--main-blue);*/
	box-shadow: 0px 4px 2px var(--main-off-white);
}

.logo {
	display:inline-block;
	position:fixed;
	top:30px;
	left:5%;
	height:32px;
}

nav ul {
	display:inline-block;
	position:relative;
	top:24px;
	right:5%;
}

nav ul li {
	display:inline-block;
	margin-right:16px;
}

nav ul li:last-child {
	margin-right:0;
}

nav ul li a {
	text-decoration:none;
	color:var(--main-off-black);
	font-family:'mr-eaves-modern',serif;
	font-weight:200;
	font-size:1.25em;
}

nav ul li a:hover {
	text-decoration:underline;
	text-decoration-color:var(--main-blue);
}

nav ul li a.active {
	font-weight:700;
	color:var(--main-blue);
}

nav ul li a.active:hover {
	text-decoration:none;
}


header {
	width:100vw;
	height:325px;
	color:var(--main-off-black);
	text-align:left;
	padding-top:176px;
	padding-left:5%;
	padding-right:16%;
}


header ul {
	list-style-type:none;
	display:inline-block;
	padding:0;
	margin-top:32px;
}

header ul li {
	display:inline-block;
	margin-right:32px;
	font-size:18px;
}

header ul li a {
	color:var(--main-white);
	font-family:'mr-eaves-modern', sans-serif;
	font-size:16px;
	font-weight:300;
	text-decoration:none;
}

header ul li.active {
	font-family:'museo-sans',serif;
	font-weight:700;
}



/* INDIVIDUAL PROJECTS */

article {
	/*min-width:300px;
	min-height:250px;*/
	margin-bottom:48px;
	grid-column:span 4;
	padding:1em;
}

article:last-of-type {
	margin-bottom:176px;
}

article img {
	/*width:80%;*/
	height:250px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:3em;
	padding-bottom:3em;
}


article h2 {
	margin-top:1em;
	font-family:'museo-sans-display', sans-serif;
	font-weight:800;
}

article h3 {
	font-weight:400;
}


article a,
article a:visited,
article a:link {
	text-decoration:none;
	color:var(--main-off-black);
}





/* PROJECT THUMBNAILS:*/

.cr-tb:hover {
	background-color:#FF9D00;
}

.inside-tb:hover {
	background-color:#e6e2c9;
}

.¢hange-tb:hover {
	background-color:#A8FBD7;
}

.aria-tb:hover {
	background-color:var(--main-black);
}

.me2math-tb:hover {

	background-color:#e5a186;
}

.pokedex-tb:hover {
	background-color:#f1c40f;
}

.cr-tb,
.inside-tb,
.¢hange-tb,
.aria-tb,
.me2math-tb,
.pokedex-tb {
	border:solid 1px var(--main-black);
	background-color:var(--main-blue);
}


/* BUTTONS */

button {
	height:24px;
	border:solid 2px var(--main-off-black);
	border-radius:11px;
	background-color:transparent;
	text-align:center;
	margin-top:24px;
}

.btn-sm {
	width:48px;
}

.btn-lg {
	width:88px;
}

button:focus {
	outline:none;
}

button:hover {
	background-color:var(--main-blue);
	color:var(--main-white);
}


section.filter {
	width:100%;
	height:112px;
	background-color:var(--main-off-white);
	color:#000000;
	/*text-align:center;*/
	/*z-index:1000;*/
	padding-left:5%;
}

section.filter h4 {
	font-size:1em;
	letter-spacing:1.33px;
	font-weight:400;
	font-variant:small-caps;
	margin-top:1.5em;
}

section.filter ul {
	list-style-type:none;
	font-family:'museo-sans',serif;
	padding:0;
	margin:0;
}

section.filter ul li {
	display:inline-block;
	font-size:24px;
	font-weight:300;
	margin-left:32px;
	margin-top:.5em;
}

section.filter ul li:first-child {
	margin-left:0;
}

section.filter ul li.active {
	font-weight:700;
}

/* ABOUT PAGE*/

article.about {
	width:100vw;
	grid-column:1/ span 12;
	padding-left:16%;
	padding-right:16%;
	margin-top:176px;
}


article.about img {
	grid-column:span 6;
	width:80%;
	height:80%;
	margin-left:auto;
	margin-right:auto;
	padding-right:0;
	padding-left:0;
	margin-top:0;
	margin-top:-16em;
	margin-bottom:-6em;
}

.about:nth-child(4) {
	margin-top:0;
	background-color:var(--main-white);
	padding-left:28%;
	padding-right:28%;
	/*line-height:1.5;*/
}

/*.btm-img {
	margin-top:-10em;
}*/

/* clip vs mask from https://css-tricks.com/clipping-masking-css */

/*.clip-circle {
	clip-path:circle(150px at center);
}*/


footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:88px;
	background-color:var(--main-black);
	color:var(--main-white);
	text-align:center;
}

footer ul {
	list-style-type:none;
	margin-top:32px;
	padding:0;
}

footer ul li {
	display:inline-block;
	margin-left:32px;
}

footer ul li:first-child {
	margin-left:0;
}

footer ul li.active {
	font-family:'museo-sans', serif;
	font-size:18px;
	font-weight:700;
}

footer ul li a {
	color:var(--main-white);
	font-size:18px;
	text-decoration:none;
	font-weight:300;
}


/* using CSS Grid */

.grid {
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap:20px;
}

/* column widths */

.col {
	grid-column: span 1;
}

.col-2 {
	grid-column: span 2;
}

.col-3 {
	grid-column: span 3;
}

.col-4 {
	grid-column: span 4;
}

.col-5 {
	grid-column: span 5;
}

.col-6 {
	grid-column: span 6;
}

.col-7 {
	grid-column: span 7;
}

.col-8 {
	grid-column: span 8;
}

.col-9 {
	grid-column: span 9;
}

.col-10 {
	grid-column: span 10;
}

.col-11 {
	grid-column: span 11;
}

.col-12 {
	grid-column: span 12;
}
